.add {
    display: flex;
    flex-direction: column;
    
    z-index: 1; 
  }
  
  .add::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-goumbik-616401.jpg&fm=jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.6; /* Apply transparency */
    z-index: -1; /* Place behind the content */
  }
  
  .add{
    padding: 20px;
  
}